/* Declarando as Fontes de Textos Gerais do Projeto */
@font-face {
    font-family: 'RedHatText-Regular';
    src: url(./assets/fonts/static/RedHatText-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Declarando as Fontes de Títulos do Projeto */
@font-face {
    font-family: 'RedHatText-Bold';
    src: url(./assets/fonts/static/RedHatText-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/* Declarando Cores do Projeto */
:root {
    --gray: #a1a1a1;
    --black: #000000;
    --orange: #ff8706;
    --red: #f40000;
    --caqui: #e3e3e3;
    --white: #ffffff;
}

/* Fazendo o Reset da Página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RedHatText-Regular';
}


/* Estilização do Corpo da Página */
body {
    padding: 5%;
}


/* Estilização da Sessão dos Cards */
#main {
    display: flex;
    gap: 5%;
    padding: 5%;
    background-color: var(--pink);
    border: 1px solid green;
}

/* Estilização das Filas do List Cards */
.heading {
    padding: 0 5%;
    font-size: 28px;
    font-family: 'RedHatText-Bold';
}

.product-list {
    display: flex;
    gap: 2%;
    width: 50vw;
    padding: 5%;
}

.product-card1 {
    width: 100%;
}

.product-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.product-card1 img {
    width: 100%;
    height: 100%;
    border-radius: 4%;
}

.btn-product {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    font-family: 'RedHatText';
    font-size: 1rem;
    font-weight: 500;

    padding: 6% 10%;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--orange);
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.btn-product .btn-icone {
    width: 20%;
    height: 20%;
}

.product-text1 {
    padding: 4% 1%;
}

.product-text1 span {
    font-size: 1.2em;
    color: var(--gray);
}

.product-text1 strong {
    font-size: 1.3em;
    font-weight: 600;
    color: var(--black);
}

.product-text1 .dollar {
    font-size: 1.2em;
    font-style: normal;
    color: var(--orange);
}

#payment {
    border: 1px solid red;
    padding: 2% 1%;
    width: 50vw;
    height: 50vh;
    background-color: var(--white);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./assets/img/illustration-empty-cart.svg);
}

